doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/socket.io/socket.io.js')
    script(type="text/javascript", src="/js/three.min.js")
    script(type="text/javascript", src="/js/OrbitControls.js")
    script(src='/js/index.js')
  body
    block content
